    <footer id="pie-de-pagina">
      <div>
        <p>© 2023 Anime Noticias</p>
      </div>
      <nav>
        <ul>
          <li><a href="/default">Términos y Condiciones</a></li>
          <li><a href="/default">Privacidad</a></li>
          <li><a href="/default">Seguridad</a></li>
          <li><a href="/default">Contacto</a></li>
        </ul>
      </nav>
    </footer>